@model IEnumerable<SondageSoiree.Models.Entity.Restaurant>

@{
    ViewBag.Title = "ResultatVote";
}

<h2>Résultats du vote</h2>

<div id="resultat-vote-content">
    @foreach (var item in Model)
    {
        <div class="resultat-vote-resto" >

            <div class="bar" number="@Html.DisplayFor(modelItem => item.NbVotes)">
                <div class="bar-bar">
                    <div class="nbvotes">
                        @Html.DisplayFor(modelItem => item.NbVotes)
                    </div>
                </div>
            </div>

            <div class="resultat-vote-resto-nom">
                @Html.DisplayFor(modelItem => item.Nom)
            </div>                
        </div>
    }
</div>

